extends base.pug

block content 
    form(method="POST")
        input(name = "title" placeholder="New Title",type="text" required)
        input(name = "description" placeholder="New Description", required)
        input(name = "hashtags" placeholder="Hashtags, seperated by comma.", required)
        input(value="Save", type="submit")